# Pandas Scrub Data

## Import Statement

In [1]:
import pandas as pd   # import pandas library

## Load in Iris Dataset

Download the Iris Dataset here:
https://github.com/slingam00/Introduction_to_Data_Science/blob/master/iris.csv

In [16]:
data = pd.read_csv("iris.csv")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Dropping Columns

In [17]:
data.drop('petal_width', axis = 1)

     sepal_length  sepal_width  petal_length    species
0             5.1          3.5           1.4     setosa
1             4.9          3.0           1.4     setosa
2             4.7          3.2           1.3     setosa
3             4.6          3.1           1.5     setosa
4             5.0          3.6           1.4     setosa
..            ...          ...           ...        ...
145           6.7          3.0           5.2  virginica
146           6.3          2.5           5.0  virginica
147           6.5          3.0           5.2  virginica
148           6.2          3.4           5.4  virginica
149           5.9          3.0           5.1  virginica

[150 rows x 4 columns]

## Dealing with NaN values

### Filling NaN with mean of column

In [22]:
data["petal_length"][0] = 'NaN'
data.fillna(data["petal_length"].mean())   # fills NaN value with the mean of the rest of the column

C:\Users\13604\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5      3.774497          0.2     setosa
1             4.9          3.0      1.400000          0.2     setosa
2             4.7          3.2      1.300000          0.2     setosa
3             4.6          3.1      1.500000          0.2     setosa
4             5.0          3.6      1.400000          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0      5.200000          2.3  virginica
146           6.3          2.5      5.000000          1.9  virginica
147           6.5          3.0      5.200000          2.0  virginica
148           6.2          3.4      5.400000          2.3  virginica
149           5.9          3.0      5.100000          1.8  virginica

[150 rows x 5 columns]

### Fill NaN with 0

In [20]:
data['petal_length'][0] = 'NaN'
data.fillna(0)   # fill NaN values with 0

C:\Users\13604\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           0.0          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Drop NaN Row

In [21]:
data['petal_length'][0] = 'NaN'
data.dropna()    # removes any row with NaN value

C:\Users\13604\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]